.ResourceCard-container{
	text-align: left;
	border: gray solid 1px;
	box-shadow: 12px 12px 2px 1px rgba(154, 159, 165, .2);
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	max-width: 400px;
	min-height: 30px;
}

.ResourceCard-top-container{
	display: flex;
}

.ResourceCard-text{
	font-size: 100%;
	

}

.ResourceCard-title{
	width: 90%;
	font-size: 130%;
	margin-bottom: 10px;
}

.ResourceCard-status-container{
	width: 10%;
}
